<div>
  <span class="mt-5 mr-5 border-2 px-5 py-2 rounded-lg border-black border-b-4 font-black translate-y-2 border-l-4 bg-black text-white hover:bg-mybg hover:text-black">
    <%= link_to t('index.return'), admin_users_path %>
  </span>
</div>

<div class="flex flex-col justify-center items-center">
  <h1 class="mb-8 text-5xl font-extrabold font-mono"><%= t('index.title') %></h1>
  <table class="font-sans text-center border-separate border-spacing-2" id='task_list_table'>
    <thead>
      <tr class="text-white h-12">
        <th class="bg-slate-500 px-3 w-36"><%= t('task.title') %></th>
        <th class="bg-slate-500 px-3 min-w-72"><%= t('task.content') %></th>
        <th class="bg-slate-500 px-3 w-48"><%= t('task.tag') %></th>
        <th class="bg-slate-500 px-3 w-36"><%= t('task.start') %></th>
        <th class="bg-slate-500 px-3 w-36 underline hover:bg-slate-700">
          <% if params[:end_time] == 'asc' %>
            <%= link_to t('task.deadline'), root_path(:end_time => 'desc') %>
          <% else %>
            <%= link_to t('task.deadline'), root_path(:end_time => 'asc') %>
          <% end %>
        </th>
        <th class="bg-slate-500 px-3 w-36"><%= t('task.created_at') %></th>
        <th class="bg-slate-500 px-3 w-24 underline hover:bg-slate-700">
          <% if params[:priority] == 'asc' %>
            <%= link_to t('task.priority'), root_path(:priority => 'desc') %>
          <% else %>
            <%= link_to t('task.priority'), root_path(:priority => 'asc') %>
          <% end %>
        </th>
        <th class="bg-slate-500 px-3 w-24 underline hover:bg-slate-700">
          <% if params[:state] == 'asc' %>
            <%= link_to t('task.state'), root_path(:state => 'desc') %>
          <% else %>
            <%= link_to t('task.state'), root_path(:state => 'asc') %>
          <% end %>
        </th>
        <th colspan="2" class="bg-slate-500 px-3 w-36"><%= t('index.operate') %></th>
      </tr>
    </thead>

    <tbody>
      <% @user.tasks.each_with_index do |task, index| %>
        <tr id = <%= index %>  class="h-12 border border-2 border-black">
          <td class='title'><%= task.title %></td>
          <td><%= task.content %></td>
          <td>
            <div class="flex flex-row">
              <% task.tag.split(",").each do |tag| %>
                <div style="background-color:#93c5fd;margin-right:3px;border-radius:3px;padding:2px 5px"><%= tag %></div>
              <% end %>
            </div>
          </td>
          <td><%= task.start_time.strftime('%Y/%m/%d %H:%M') %></td>
          <td class='end_time'><%= task.end_time.strftime('%Y/%m/%d %H:%M') %></td>
          <td class='created_at'><%= task.created_at.strftime('%Y/%m/%d %H:%M') %></td>
          <td class='priority'><%= t("task.#{task.priority}") %></td>
          <td class='state'><%= t("task.#{task.state}") %></td>
          <td><div class="bg-rose-400 text-white rounded-full p-2 hover:bg-rose-500"><%= link_to t('index.edit'), edit_task_path(task) %></div></td>
          <td>
            <div class="bg-slate-500 text-white rounded-full p-2 hover:bg-slate-600">
              <%= link_to t('index.delete'), task, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>